* {
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Lucida Console", Courier, monospace;
    background-color: rgb(173, 136, 198);
}

#wrapper-div {
    width: 100%;
    margin: auto;
    padding: 10px;
    background-color: rgb(116, 105, 182);
}

.navbar{
    background: rgb(173, 136, 198);
    height: 70px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}
.navbar-brand{
    height: 70px;
    font-weight: 500;
    color: rgb(108, 105, 105);
    font-size: 24px;
    transition: 0.3s color;
}

.login-button{
    background: rgb(116, 105, 182);
    color: rgb(255, 230, 230);
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: rgb(255, 230, 230);
    color:rgb(108, 105, 105);
}

.navbar-toggler{
    border:none;
    font-size: 1.5rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link{
    color: rgb(108, 105, 105);
    font-weight: 500;
    position: relative;
}

.navbar-toggler:hover, .btn-close:hover{
    color: black;
}

@media(min-width: 991px){
.nav-link::before{
    content:" ";
    position: absolute;
    bottom: 0;
    left: 50;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background: rgb(173, 136, 198);
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.navbar-toggler:hover::before, .btn-close:hover::before{
    width: 100%;
    visibility: visible;
}
}

#header-banner-div{
    width: 100%;
    min-height: 60px;
    text-align: center;
    background-color: rgb(173, 136, 198);
    margin-top: 90px;
    margin-bottom: 10px;
    line-height: 50px;
}

#main-div {
    width: 100%;
    min-height: 470px;
    background-color: transparent;
    margin-bottom: 10px;
}

#content-div{
    width: 100%;
    text-align: center;
    min-height: 50px;
    background-color: rgb(116, 105, 182);
    color: rgb(255, 230, 230);
    margin-top: auto;
}

#box1-div, #box2-div, #box3-div, #box4-div, #box5-div, #box6-div {
    width: 30%;
    min-height: 100px;
    float: left;
    margin: 0 1.66%;
    margin-bottom: 20px;
}

#box2-div {
    margin-left: 1.66%;
    margin-right: 1.66%;
}

#box1-div img, #box2-div img, #box3-div img, #box4-div img, #box5-div img, #box6-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clearfix::after {
    content: " ";
    display: white;
    clear: both;
}

#footer-div {
    width: 100%;
    min-height: 30px;
    background-color: rgb(255, 230, 230);
    margin-top: 20px;
}

#footer-div img {
    max-height: 25%;
    width: 100px;
    vertical-align: middle;
}
